body {
  font-family: Courier, monospace;
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/leaves-green.png");
  background-repeat: repeat;
  color: white;

  header {
    margin-bottom: 1rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.left-column,
.right-column {
  width: 20%;
  position: sticky;
  top: 10px;
  height: fit-content;
  margin: 0 1rem;
  max-width: 400px;
  background: rgba(75, 75, 253, 0.685);
  background-repeat: repeat;
  height: 100vh;
  color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;

  h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
  }

  h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  h4 {
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0;
  }
}

main {
  max-width: 800px;
  margin: 0 auto;
  overflow: auto;
  background-color: #d9f1ee;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #010101;

  p {
    text-align: left;
    padding-bottom: 1rem;
  }

  h4 {
    font-size: 1.1rem;
    font-style: italic;
    text-align: left;
  }
}

h1 {
  font-size: 2.4rem;
  background: linear-gradient(45deg, #112ed6 0%, #e40c0c 100%);
  background-clip: text;
  color: transparent;
  transform: skewY(-4deg) skewX(-20deg) scaleY(1.1) scaleX(1.2);
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  color: #010101;
}

menu {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 0.5rem;
  }
}

.feature-image {
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#about {
  img {
    max-width: 80%;
    max-height: 500px;
  }
}

.body-text {
  font-size: 1rem;
  line-height: 1.6;
}

.emphasize-text {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}

.accessibility-feature {
  margin-left: 1rem;
}

.code-block {
  background-color: #1b1b1b;
  color: #00ff00;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
  text-align: left;

  code {
    line-height: 1.15rem;
  }
}

#languages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;

  img {
    height: 50px;
  }

  .light {
    filter: brightness(2);
    border-radius: 7px;
  }
}

#contact-links {
  display: flex;
  justify-content: space-around;
  align-items: end;
  gap: 1rem;
  padding-bottom: 2rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    gap: 0.5rem;

    img {
      max-width: 100%;
    }
  }
}

.attr-name {
  font-weight: bold;
}

.attr-value {
  font-style: italic;
}

.border-overlay {
  position: relative;
}

.border-overlay::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  right: 0px;
  bottom: -5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  pointer-events: none;
}

.tooltip {
  position: absolute;
  display: flex;
  justify-content: space-between;

  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-tag {
  margin-right: 4px;
}

/* If screen is less than 1200px, do not display left-column or right-column */
@media (max-width: 1200px) {
  .left-column,
  .right-column {
    display: none;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 0.8rem;
  }

  header {
    img {
      max-width: 100%;
    }
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  #contact-links {
    .icon {
      max-width: 80%;
    }
  }
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
  margin: 0 auto;
  background-color: black;
  border: 2px solid #333;
  border-radius: 10px;
}

.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 0.75rem;
}

@keyframes marquee {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@media (prefers-reduced-motion) {
  .marquee {
    animation: none;
  }
}
