body {
  font-family: Courier, monospace;

  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #333;
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  color: #000;
}

.body-text {
  font-size: 1rem;
  line-height: 1.6;
}

#languages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  img {
    height: 50px;
  }
}

#interests {
  ul {
    list-style-type: none;
    padding: 0;
  }
}

#contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.active-element {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #000;
  box-shadow: #000 10px 10px 15px;
}
